html {
    --color-accent: purple;
    accent-color: var(--color-accent);
}

body {
    /* Set line height to 1.5 times the font size
         and use the OS’s UI font as the website font
       */ 
    max-width: 100ch;
    font: 100%/1.5 system-ui;
    margin-inline: auto;
    padding-left: 5px;  
    padding: up 10px;
  }

nav {
    display: flex;
}

nav a {
    flex: 1;
    text-align: center;
    text-decoration: none;
    padding: 0.5em;
    color: inherit;
    margin-bottom: 10px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: oklch(80% 3% 200); 
}

nav a.current {
    font-weight: bold; 
    color: black;
    border-bottom-width: 0.4em;
    border-bottom-style: solid;
    border-bottom-color: oklch(80% 3% 200); 
    padding-bottom: 2px;
}

nav a:hover {
    background-color: lightgray;  
    border-bottom-color: var(--color-accent);
}

form {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1em;
    margin: 20px;
}

label {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / -1;
}

button {
    grid-column: 1 / -1;
    justify-self: center;
}       

input, textarea {
    width: 100%;
    box-sizing: border-box;
}